<h2 class="text-center">List Notes</h2>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let note"> {{note.id}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let note"> {{note.title}} </td>
    </ng-container>

    <ng-container matColumnDef="content">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Content </th>
        <td mat-cell *matCellDef="let note"> {{note.content}} </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
        <td mat-cell *matCellDef="let note"> {{note.createdAt}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let note">
            <button mat-raised-button color="primary" (click)="onEdit(note)" class="btn btn-info me-2">
                <mat-icon>edit</mat-icon> Edit
            </button>
            <button mat-raised-button color="warn" (click)="onDelete(note)" class="btn btn-danger">
                <mat-icon>delete</mat-icon> Delete
            </button>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div *ngIf="dataSource.data.length === 0" class="text-center mt-3">
  <mat-icon>info</mat-icon> Maaf, Tidak ada data.
</div>


<mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>