<main>
  <div class="container-fluid">
    <mat-toolbar color="primary">
      <span class="app-title">{{ title }}</span>
      <span class="spacer"></span>
      <a mat-button routerLink="/list" class="m-2">List Notes</a>
      <a mat-button routerLink="/create" class="m-2">Create Note</a>
    </mat-toolbar>

    <div class="row mt-4">
      <div class="col-md-12">
        <p>Simple Note App adalah sebuah aplikasi untuk mengelola catatan (Notes), dimana user dapat:</p>
        <ul>
          <li>Membuat catatan baru</li>
          <li>Melihat daftar catatan yang telah dibuat</li>
          <li>Melihat detail dari setiap catatan</li>
          <li>Mengedit/merubah catatan yang telah dibuat</li>
          <li>Menghapus catatan yang tidak diperlukan lagi</li>
        </ul>
      </div>
    </div>
    
    <router-outlet />

  </div>
</main>